extends base.pug

block content
  div#videoContainer(data-id=video._id)
    video(src="/" + video.fileUrl)
    div#videoControls.videoControls
      div.videoControls__play
        span#play.videoControls__playBtn
          i.fas.fa-play
        div.videoControls__time
          span#currentTime 00:00
          span  / 
          span#totalTime 00:00
      input(type="range", step="1", value="0", min='0')#timeline.videoControls__timeline
      div.videoControls__volume
        input(type="range", step="0.1", value="0.5", min="0", max="1")#volume
        span#mute
          i.fas.fa-volume-up
      div
        span#fullScreen
          i.fas.fa-expand

  div.video__data
    p.video__title=video.title
    small.video__owner 게시자
      a(href=`/users/${video.owner._id}`)=video.owner.name
    small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
    if String(video.owner._id) === String(loggedInUser._id)
      a(href=`${video.id}/edit`) 영상 수정하기 &rarr;
      br
      a(href=`${video.id}/delete`) 영상 삭제하기 &rarr;
  if loggedIn
    div.video__add-comments
      form.video__comment-form#commentForm
        textarea(cols="30", rows="10", placeholder="댓글 작성하기")
        button 댓글 등록
  div.video__comments
    ul
      each comment in video.comments.reverse()
        li.video__comment(data-id=comment.id)
          div.left_box
            i.fas.fa-comment
            span  #{comment.text}
          if String(comment.owner._id) === String(loggedInUser._id)
            span.video__delete-comments ❌

block scripts
  script(src="/static/js/videoPlayer.js")
  if loggedIn
    script(src="/static/js/commentSection.js")